snippet bash "Bash Script"
#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail


endsnippet

snippet python "Python Script"
#!/usr/bin/env python3

def main():
  ${1:pass}

if __name__ == '__main__':
  main()
endsnippet
