snippet bash "Bash Script"
#!/usr/bin/env bash
# vim:set ts=8 sw=2 sts=2 et:

set -o errexit
set -o nounset
set -o pipefail


endsnippet

snippet python "Python Script"
#!/usr/bin/env python
# vim:set ts=8 sw=2 sts=2 et:

def main():
  ${1:pass}

if __name__ == '__main__':
  main()
endsnippet
