snippet snippets "Weekly Snippets"
## ${1:`date '+%b %d, %Y'`}

### Monday

* TODO

### Tuesday

* TODO

### Wednesday

* TODO

### Thursday

* TODO

### Friday

* TODO

endsnippet

snippet meeting "Meeting Notes"
## `date '+%Y'`-${1:`date '+%m'`}-${2:`date '+%d'`}

* Resources
* Agenda
* Notes
  + $3
* Action Items
endsnippet
